version: "3.8"

services:
  db:
    image: postgres:16.3
    container_name: postgres_cont
    environment:
      POSTGRES_DB: social
      POSTGRES_USER: samualhalder
      POSTGRES_PASSWORD: samualpass
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:6.2-alpine
    container_name: redis_go_social
    command: redis-server --save 60 1 --loglevel warning
    restart: unless-stopped
    ports:
      - "6379:6379"

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis_commander
    restart: unless-stopped
    environment:
      - REDIS_HOSTS=local:redis:6379
    depends_on:
      - redis
    ports:
      - "8081:8081"

volumes:
  db-data:
